
<app-header></app-header>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center my-4 text-service">Nuestros Servicios</h2>
        </div>
        <div class="col-12 col-banner">
            <img class="d-block w-100 img-service" src="./../../../../assets/images/items/desarrollo.jpg" alt="">
        </div>
    </div>
    
    <div class="conatiner-fluid">
        <div class="row mt-5">
            <div class="col-sm-12 col-md-12 col-lg-6 p-0 my-4">
                <img class="d-block w-100 img-detail" src="./../../../../assets/images/svg/web_developer.svg" alt="">
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 custom-col pl-5 description-child text-center">
                <h3 class="text-center subtitles">Desarrollo web</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere sequi libero sapiente ipsam, 
                    eius reiciendis expedita nobis ducimus at minus aspernatur unde esse nisi quod, id explicabo 
                    dicta quo voluptates. Lorem ipsum dolor sit amet consectetur.</p>
                    <p>adipisicing elit. Nihil accusantium 
                    deserunt impedit velit, amet eveniet voluptatibus, consectetur inventore laudantium tempora sint? 
                    Rem, quod. Quis amet quia obcaecati, in quasi dicta.</p>
                <ul class="list-details">
                    <li><i class="fa fa-check-circle text-success"></i> Detalle uno</li>
                    <li><i class="fa fa-check-circle text-success"></i> Detalle uno</li>
                    <li><i class="fa fa-check-circle text-success"></i> Detalle uno</li>
                    <li><i class="fa fa-check-circle text-success"></i> Detalle uno</li>
                    <li><i class="fa fa-check-circle text-success"></i> Detalle uno</li>
                </ul>
                <button class="btn custom-btn" type="button" data-toggle="modal" data-target="#staticBackdrop">Quiero el Servicio</button>
            </div>
        </div>
    </div>

    <hr>
    
    <div class="container-fluid container-father">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 custom-col pl-5 description-child text-center">
                <h3 class="text-center subtitles">Desarrollo Móvil</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere sequi libero sapiente ipsam, 
                    eius reiciendis expedita nobis ducimus at minus aspernatur unde esse nisi quod, id explicabo 
                    dicta quo voluptates. Lorem ipsum dolor sit amet consectetur.</p>
                    <p>adipisicing elit. Nihil accusantium 
                    deserunt impedit velit, amet eveniet voluptatibus, consectetur inventore laudantium tempora sint? 
                    Rem, quod. Quis amet quia obcaecati, in quasi dicta.</p>
                <ul class="list-details">
                    <li><i class="fa fa-check-circle text-success"></i> Detalle uno</li>
                    <li><i class="fa fa-check-circle text-success"></i> Detalle uno</li>
                    <li><i class="fa fa-check-circle text-success"></i> Detalle uno</li>
                    <li><i class="fa fa-check-circle text-success"></i> Detalle uno</li>
                    <li><i class="fa fa-check-circle text-success"></i> Detalle uno</li>
                </ul>
                <button class="btn custom-btn"  type="button" data-toggle="modal" data-target="#staticBackdrop">Quiero el Servicio</button>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 p-0 my-4">
                <img class="d-block w-100 img-detail" src="./../../../../assets/images/svg/online_store_.svg" alt="">
            </div>
        </div>
    </div>

    <hr>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 p-0 my-4">
                <img class="d-block w-100 img-detail" src="./../../../../assets/images/svg/code_development_.svg" alt="">
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 custom-col pl-5 description-child text-center">
                <h3 class="text-center subtitles">Software de Escritorio</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere sequi libero sapiente ipsam, 
                    eius reiciendis expedita nobis ducimus at minus aspernatur unde esse nisi quod, id explicabo 
                    dicta quo voluptates. Lorem ipsum dolor sit amet consectetur.</p>
                    <p>adipisicing elit. Nihil accusantium 
                    deserunt impedit velit, amet eveniet voluptatibus, consectetur inventore laudantium tempora sint? 
                    Rem, quod. Quis amet quia obcaecati, in quasi dicta.</p>
                <ul class="list-details">
                    <li><i class="fa fa-check-circle text-success"></i> Detalle uno</li>
                    <li><i class="fa fa-check-circle text-success"></i> Detalle uno</li>
                    <li><i class="fa fa-check-circle text-success"></i> Detalle uno</li>
                    <li><i class="fa fa-check-circle text-success"></i> Detalle uno</li>
                    <li><i class="fa fa-check-circle text-success"></i> Detalle uno</li>
                </ul>
                <button class="btn custom-btn" type="button" data-toggle="modal" data-target="#staticBackdrop">Quiero el Servicio</button>
            </div>
        </div>
    </div>
    <hr>
    <div class="container-fluid container-father">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 custom-col pl-5 description-child text-center">
                <h3 class="text-center subtitles">Tiendas Ecommerce</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere sequi libero sapiente ipsam, 
                    eius reiciendis expedita nobis ducimus at minus aspernatur unde esse nisi quod, id explicabo 
                    dicta quo voluptates. Lorem ipsum dolor sit amet consectetur.</p>
                    <p>adipisicing elit. Nihil accusantium 
                    deserunt impedit velit, amet eveniet voluptatibus, consectetur inventore laudantium tempora sint? 
                    Rem, quod. Quis amet quia obcaecati, in quasi dicta.</p>
                <ul class="list-details">
                    <li><i class="fa fa-check-circle text-success"></i> Detalle uno</li>
                    <li><i class="fa fa-check-circle text-success"></i> Detalle uno</li>
                    <li><i class="fa fa-check-circle text-success"></i> Detalle uno</li>
                    <li><i class="fa fa-check-circle text-success"></i> Detalle uno</li>
                    <li><i class="fa fa-check-circle text-success"></i> Detalle uno</li>
                </ul>
                <button class="btn custom-btn" type="button" data-toggle="modal" data-target="#staticBackdrop">Quiero el Servicio</button>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 p-0 my-4">
                <img class="d-block w-100 img-detail" src="./../../../../assets/images/svg/online_payment.svg" alt="">
            </div>
        </div>
    </div>
    <hr>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 p-0 my-4">
                <img class="d-block w-100 img-detail" src="./../../../../assets/images/svg/designer_.svg" alt="">
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 custom-col pl-5 description-child text-center">
                <h3 class="text-center subtitles">Diseño Grafico</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere sequi libero sapiente ipsam, 
                    eius reiciendis expedita nobis ducimus at minus aspernatur unde esse nisi quod, id explicabo 
                    dicta quo voluptates. Lorem ipsum dolor sit amet consectetur.</p>
                    <p>adipisicing elit. Nihil accusantium 
                    deserunt impedit velit, amet eveniet voluptatibus, consectetur inventore laudantium tempora sint? 
                    Rem, quod. Quis amet quia obcaecati, in quasi dicta.</p>
                <ul class="list-details">
                    <li><i class="fa fa-check-circle text-success"></i> Detalle uno</li>
                    <li><i class="fa fa-check-circle text-success"></i> Detalle uno</li>
                    <li><i class="fa fa-check-circle text-success"></i> Detalle uno</li>
                    <li><i class="fa fa-check-circle text-success"></i> Detalle uno</li>
                    <li><i class="fa fa-check-circle text-success"></i> Detalle uno</li>
                </ul>
                <button class="btn custom-btn" type="button" data-toggle="modal" data-target="#staticBackdrop">Quiero el Servicio</button>
            </div>
        </div>
    </div>
    <hr>
    <div class="container-fluid container-father">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 custom-col pl-5 description-child text-center">
                <h3 class="text-center subtitles">Producción Multimedia</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere sequi libero sapiente ipsam, 
                    eius reiciendis expedita nobis ducimus at minus aspernatur unde esse nisi quod, id explicabo 
                    dicta quo voluptates. Lorem ipsum dolor sit amet consectetur.</p>
                    <p>adipisicing elit. Nihil accusantium 
                    deserunt impedit velit, amet eveniet voluptatibus, consectetur inventore laudantium tempora sint? 
                    Rem, quod. Quis amet quia obcaecati, in quasi dicta.</p>
                <ul class="list-details">
                    <li><i class="fa fa-check-circle text-success"></i> Detalle uno</li>
                    <li><i class="fa fa-check-circle text-success"></i> Detalle uno</li>
                    <li><i class="fa fa-check-circle text-success"></i> Detalle uno</li>
                    <li><i class="fa fa-check-circle text-success"></i> Detalle uno</li>
                    <li><i class="fa fa-check-circle text-success"></i> Detalle uno</li>
                </ul>
                <button class="btn custom-btn" type="button" data-toggle="modal" data-target="#staticBackdrop">Quiero el Servicio</button>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 p-0 my-4">
                <img class="d-block w-100 img-detail" src="./../../../../assets/images/svg/example-29.svg" alt="">
            </div>
        </div>
    </div>


  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Contáctanos</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                  <input type="text" class="form-control" id="recipient-name" placeholder="Nombre">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="recipient-name" placeholder="Correo">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" id="recipient-name" placeholder="Teléfono">
                  </div>
                  <div class="form-group">
                    <select name="" id="" class="form-control">
                        <option value="" disabled>¿Que servicio necesitas?</option>
                        <option value="">Desarrollo Web</option>
                        <option value="">Desarrollo Móvil</option>
                        <option value="">Software de Escritorio</option>
                        <option value="">Tiendas Ecommerce</option>
                        <option value="">Diseño Gráfico</option>
                        <option value="">Producción Multimedia</option>
                    </select>
                </div>
                <div class="form-group">
                  <textarea class="form-control" id="message-text" rows="5" placeholder="Cuentános en que podemos ayudarte..."></textarea>
                </div>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn custom-btn">Enviar Mensaje</button>
        </div>
      </div>
    </div>
  </div>




</div>

<br>
<app-footer></app-footer>